$bg-color: #f7f7ff;
$text-input-bg-color: #ecf0ff;
$text-input-focus-bg-color: #d9e0fd;
$btn-input-bg-color: #2f4fb5;
$btn-input-hover-bg-color: #4666c7;
$btn-input-box-show: 0 0 2px 0 #6481d9;
$btn-input-hover-box-show: 0 5px 10px 0 #9f9f9f;